* {
    all: initial;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    color: #f0f0f0;
}

window#waybar {
    background-color: #0f0f0f;
}

window#waybar > box {
    padding: 8px 16px;
}

#workspaces button {
    margin-right: 4px;
}

#workspaces button.urgent {
    color: #ff0000;
}

tooltip {
    background-color: #0f0f0f;
    border-radius: 4px;
}

tooltip box {
    padding: 8px;
}

#pulseaudio-slider trough {
    min-height: 4px;
    min-width: 40px;
    border-radius: 8px;
    background-color: #3f3f3F;
}

#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #f0f0f0;
}