* {
    all: initial;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #4c4f69;
}

window#waybar {
    background-color: #dce0e8;
}

window#waybar > box {
    padding: 8px 16px;
}

#workspaces button {
    margin-right: 8px;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#pulseaudio-slider trough {
    min-height: 6px;
    min-width: 64px;
    border-radius: 8px;
    background-color: #acb0be;
}

#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #4c4f69;
}
