* {
    all: initial;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    color: #F0F0F0;
}

window#waybar {
    background-color: #0F0F0F;
}

window#waybar > box {
    padding: 8px 16px;
}

#workspaces button {
    margin-right: 4px;
}

#workspaces button.urgent {
    color: #FF0000;
}

tooltip {
    background-color: #0F0F0F;
    border-radius: 4px;
}

tooltip box {
    padding: 8px;
}