* {
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #fff;
}

#input {
    background-color: #000;
    padding: 8px 16px;
    border-bottom: 1px solid #333;
}

#input > image.left {
    margin-right: 16px;
}

#input:focus {
    box-shadow: none;
}

#entry {
    background-color: #000;
    padding: 8px 16px;
}

#entry:selected {
    background: #222;
    outline: none;
}

#img {
    margin-right: 16px;
}